<section class="section">
  <h2>Projects</h2>
  <div class="project-item">
    <div class="item-header">
      <div>
        <div class="item-title">Tweet Sentiment Analysis</div>
        <div class="item-company">Python, Spark, MLflow</div>
      </div>
    </div>
    <div class="item-description">
      <ul>
        <li>
          Developed a multi-stage (Bronze, Silver, Gold) streaming
          pipeline using Spark Structured Streaming & Delta Lake for
          real-time tweet sentiment analysis
        </li>
        <li>
          Leveraged MLflow to systematically track performance metrics
          (precision, recall, F1-score) across different models and
          datasets to ensure reproducibility and continuous monitoring
        </li>
        <li>
          Performed exploratory data analysis and data visualization to
          gain key insights into notable figures, sentiment
          distribution, and changes in sentiment across time
        </li>
      </ul>
    </div>
    <div class="item-image-container">
      <img class="item-image" src="public/streaming_pipeline.png">
    </div>
  </div>
  <div class="project-item">
    <div class="item-header">
      <div>
        <div class="item-title">Game Boy Emulator</div>
        <div class="item-company">C++, SDL2</div>
      </div>
    </div>
    <div class="item-description">
      <ul>
        <li>
          Built a Game Boy emulator in C++ with support for the complete Sharp LR35902 CPU instruction set
        </li>
        <li>
          Implemented a Picture Processing Unit (PPU) for tile-base rendering and sprite support
        </li>
        <li>
          Developed a Memory Management Unit (MMU) to manage ROM and RAM bank swapping
        </li>
      </ul>
    </div>
    <div class="item-image-container">
      <img class="item-image" src="public/tetris.png">
      <img class="item-image" src="public/tetris_gameplay.png">
    </div>
  </div>
  <div class="project-item">
    <div class="item-header">
      <div>
        <div class="item-title">CHIP8 Emulator</div>
        <div class="item-company">C++, SDL2</div>
      </div>
    </div>
    <div class="item-description">
      <ul>
        <li>
          Developed a fully functional CHIP-8 emulator from scratch in C++,
          implementing the complete instruction set, stack-based subroutines,
          ROM parser, and timers
        </li>
        <li>
          Integrated SDL2 for real-time graphics rendering and keyboard input mapping
        </li>
        <li>
          Created a test suite to validate the functionality of all 35 instruction opcodes
        </li>
      </ul>
    </div>
    <div class="item-image-container">
      <img class="item-image" src="public/chip8_pong.png">
      <img class="item-image" src="public/chip8_tetris.png">
    </div>
  </div>
</section>
