<section class="section">
  <h2>Experience</h2>
  <div class="timeline">
    <div class="timeline-item">
      <div class="timeline-content experience-item">
        <div class="item-header">
          <div class="item-header-left">
            <img
              src="https://yt3.googleusercontent.com/Sc5-mkG_N-0bDW-eeE-ffFR5BtTZqdk1YxgVrxJckHBTr6-6JmMqJE4QRSHJf5C7ocusX8zJsw=s900-c-k-c0x00ffffff-no-rj"
              alt="Federal Reserve Logo"
              class="company-logo"
            />
            <div>
              <div class="item-title">Software Developer Intern</div>
              <div class="item-company">Federal Reserve Bank of St Louis</div>
              <div class="item-location">St Louis, MO</div>
            </div>
          </div>
          <div class="item-date">June 2025 - Present</div>
        </div>
        <div class="item-description">
          <ul>
            <li>
              Summer: Cloud Services Team
            </li>
            <li>
              Fall: SRE Team
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="timeline-item">
      <div class="timeline-content experience-item">
        <div class="item-header">
          <div class="item-header-left">
            <img
              src="public/Si4nhPyt_400x400.jpg"
              alt="M&T Bank Logo"
              class="company-logo"
            />
            <div>
              <div class="item-title">Software Engineer Intern</div>
              <div class="item-company">M&T Bank</div>
              <div class="item-location">Buffalo, NY</div>
            </div>
          </div>
          <div class="item-date">June 2024 - August 2024</div>
        </div>
        <div class="item-description">
          <ul>
            <li>
              Streamlined mortgage application processing across 900+ bank branches by consolidating four mortgage form applications into a single unified web app (Angular, .NET Core)
            </li>
            <li>
              Reduced security risks by integrating automated Veracode vulnerability scans into the CI/CD pipeline.
            </li>
            <li>
              Improved code quality and reliability by implementing unit tests in Jasmine with 95%+ code coverage
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="timeline-item">
      <div class="timeline-content experience-item">
        <div class="item-header">
          <div class="item-header-left">
            <img
              src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQNobNAvleEG-GvQsEWAKNFnJUvlI7iNBOuNQ&s"
              alt="MDRC Logo"
              class="company-logo"
            />
            <div>
              <div class="item-title">
                Information Technology Intern
              </div>
              <div class="item-company">MDRC</div>
              <div class="item-location">Manhattan, NY</div>
            </div>
          </div>
          <div class="item-date">July 2023 - August 2023</div>
        </div>
        <div class="item-description">
          <ul>
            <li>
              Proactively troubleshooted hardware malfunctions and software conflicts across 30+ tickets, improving operational efficiency and reducing overall worker downtime
            </li>
            <li>
              Simplified IT asset management by creating a unified Excel spreadsheet for managing devices and software licenses
            </li>
            <li>
              Analyzed event logs for suspicious activity following phishing reports, ensuring no sensitive company data was leaked
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="timeline-item">
      <div class="timeline-content experience-item">
        <div class="item-header">
          <div class="item-header-left">
            <img
              src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c1/Google_%22G%22_logo.svg/36px-Google_%22G%22_logo.svg.png?20230822192911"
              alt="Google Logo"
              class="company-logo"
            />
            <div>
              <div class="item-title">CSSI Scholar</div>
              <div class="item-company">Google CSSI</div>
              <div class="item-location">Remote</div>
            </div>
          </div>
          <div class="item-date">July 2022 - August 2022</div>
        </div>
        <div class="item-description">
          <ul>
            <li>
              Collaborated with a team of 3 developers to build a movie recommendation website featuring interactive search results from IMDB (via the MovieDB API)
            </li>
            <li>
              Designed detailed mockups in Figma to outline the application’s layout and core functionality
            </li>
            <li>
              Delivered a collaborative final presentation live to Google employees and community leaders
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
