<section class="section">
  <h2>Certifications</h2>
  <div class="certification-item">
    <div class="item-header">
      <div class="item-header-left">
        <img
          src="https://d1.awsstatic.com/training-and-certification/certification-badges/AWS-Certified-Cloud-Practitioner_badge.634f8a21af2e0e956ed8905a72366146ba22b74c.png"
          alt="AWS Cloud Practitioner Badge"
          class="certification-badge"
          width="80"
          height="80"
        />
        <div>
          <div class="item-title">AWS Certified Cloud Practitioner</div>
          <div class="item-company">Amazon Web Services</div>
        </div>
      </div>
      <div class="item-date">July 2025</div>
    </div>
  </div>
</section>
